<%= render "order/show_orders" %>
<<<<<<< HEAD
<% if @order.product_orders.present? %>
  <div class="d-flex justify-content-end">
    <%# <%= link_to 'Checkout', order_checkout_path, class: "btn btn-success"%>
    <%= button_to "Buy Now", checkout_create_path, data: { turbo: false }, class: "btn btn-success"%>
  </div>
<% end %>
=======
<div class="d-flex justify-content-end">
<%= link_to 'Checkout', order_checkout_path, class: "btn btn-success"%>
</div>
>>>>>>> 15b164d1c5affb72b207141235124f67dbd248ac
