<h1> Welcome to African Fabrics Store</h1>
<br />
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <%= render @products %>
</div>
<br/>
<hr>
<div class="d-flex justify-content-start"> <strong>Total: </strong> <%= pluralize(Product.all.count, 'product') %></div>
<div class="d-flex justify-content-end"> <%= paginate @products%></div>
<hr>
