<%= turbo_frame_tag "show_notice" do %>
  <% if notice %>
    <div class="alert alert-info">
      <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert %>
    <div class="alert alert-info">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
<% end %>